<section class="page">
    <header class="page-header">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <div class="section">
      <div class="section-heading">
        <h3>LEARNING PATTERN ANALYSIS</h3>
      </div>
      <div class="section-content">
        <p>
          4. Mathematics <span class="{{mathematics_score.value}}">({{mathematics_score.value}}):</span> Mathematics is the study of the measurement,
          properties, and relationships of quantities and sets, using numbers and
          symbols. Mathematics is a Focus Area for you, it indicates that you need to
          work on this subject. It is recommended that you understand the concepts by
          visualising them and focus on retaining the concepts by revision. This skill will
          prove very useful in attempting engineering entrance examinations (like JEE,
          WBJEE, KCET, AP EAMCET, GUJCET, etc), and prepare for Olympiads and talent
          hunt exams.
        </p>

        <p>
          5. Biology. <span class="{{biology_score.value}}">({{biology_score.value}}):</span> Biology is the scientific study of living
          things. A good score in Biology indicates that you have a basic
          knowledge of living organisms and how they function. This skill will
          prove useful in preparing for NEET and other competitive
          examinations. To improve your skills, visualise concepts, and use
          animated diagrams.
        </p>
        <p>
          6. Application <span class="{{application_score.value}}">({{application_score.value}}):</span> A good score in Application indicates that
          you are skilled at the usage of concepts and interlinkages to arrive
          at a solution/ answer. This skill will be very useful in attempting
          questions that involve a combination of concepts. Keep the skills
          sharp by attempting questions involving multiple concepts.
        </p>
        <p>
          7. Retention <span class="{{retention_score.value}}">({{retention_score.value}}):</span> A good score in Retention indicates that you
          are skilled at dealing with the usage of formulas and/or
          memorization of conditions. This skill will be very useful in
          retaining close to 500 concepts and formulas required for
          competitive examinations. Keep the skill sharp by making your own
          notes and revising them at appropriate moments
        </p>
      </div>
    </div>
  </section>