<section class="page">
    <header class="page-header">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <div class="section">
      <div class="section-heading">
        <h3>LEARNING PATTERN ANALYSIS</h3>
      </div>
      <div class="section-content">
        <p>
          This section of the report will help you in understanding your
          potential skills and abilities. It will further help you to identify
          the skill areas which you can develop, in order to be proficient in
          your chosen career path
        </p>
      </div>
      <div class="section-circle">
        <div class="circle-1">
          <span class="inner-1">Chemistry</span>
          <span class="inner-2">{{chemistry.percentage}}%</span>
        </div>
        <div class="circle-2">
          <span class="inner-1">Mathematics</span>
          <span class="inner-2">{{mathematics.percentage}}%</span>
        </div>
        <div class="circle-3">
          <span class="inner-1">Physics</span>
          <span class="inner-2">{{physics.percentage}}%</span>
        </div>
        <div class="circle-4">
          <span class="inner-1">Biology</span>
          <span class="inner-2">{{biology.percentage}}%</span>
        </div>
      </div>
      <div class="section-content">
        <p>
          1.Overall Analysis <span class="{{overall_analysis_score.value}}">({{overall_analysis_score.value}}):</span> A good overall score indicates that your
          Learning Skills are in sync with the requirements of competitive
          exams. You must work in the areas outlined in the report. A
          combination of Hard Work and Learning Skills will prove instrumental
          in cracking competitive examinations
        </p>
        <p>
          2.Physics <span class="{{physics_score.value}}">({{physics_score.value}}):</span> Physics is the science of how things work. A good
          score in Physics indicates that you are satisfactorily skilled at
          understanding how things work. This skill will prove very useful in
          competitive examinations. Keep the skill sharp by always
          understanding the concepts by visualising them
        </p>
        <p>
          3.Chemistry <span class="{{chemistry_score.value}}">({{chemistry_score.value}}):</span> Chemistry is the study of matter, its
          properties, how and why substances combine or separate to form other
          substances, and how substances interact with energy. A good score in
          Chemistry indicates that you are satisfactorily skilled at
          understanding the basics of chemistry. This skill will prove very
          useful in dealing with Physical, Inorganic, and Organic Chemistry of
          Class 11 and 12. Keep the skill sharp by always revising the
          concepts you learn.
        </p>
      </div>
    </div>
  </section>