<section class="first-page justfyColumnCenter">
  <img class="bnat-logo"
    src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/bnat_logo.png" />
  <span class="pdf-title bold-font justifyCenter">BNAT - BYJU'S National Aptitude Test</span>
  <div class="justifyCenter">
    <div class="report-section justfyColumnCenter">
      <div class="ribbon justifyCenter bold-font">Student Assesment Report</div>
      <div>
        <span class="student-name bold-font justifyCenter">{{full_name}}</span>
      </div>
      <div class="class-details bold-font">
        <div>
          <div>
            <span class="side-heading"> Current Class</span>
            <br />
            <span class="side-values bold-font">{{grade}}</span>
          </div>
          <div>
            <span class="side-heading"> Target Exam</span>
            <br />
            <span class="side-values bold-font">{{target_exam}}</span>
          </div>
        </div>
        <div>
          <div class="air-container">
            <span class="air-header bold-font"> AIR</span>
            <br />
            <span class="air-value bold-font">{{overall_analytics.rank}}</span>
          </div>
        </div>
        <div>
          <div>
            <span class="side-heading"> Assessment Date</span>
            <br />
            <span class="side-values bold-font">{{dateFormat assessment_date format}}</span>
          </div>
          <div>
            <span class="side-heading"> Enrolment Number</span>
            <br />
            <span class="side-values bold-font">{{enrolment_no}}</span>
          </div>
        </div>
      </div>
      <div class="marks-section">
        <div class="marks-sub-section">
          <div class="result-section justifyCenter">
            <div class="justifyCenter report">You have scored</div>
            <div class="circle justifyCenter bold-font">{{overall_analytics.overall_percentage}}%</div>
          </div>
          <div class="result-section down-report justifyCenter">
            <div class="justifyCenter report">
              <span class="right-content">Your State <br />Percentile
                <br /><span class="address-line bold-font">({{state}})
                </span>
              </span>

            </div>
            <div class="circle justifyCenter bold-font">{{state_percentile}}</div>
          </div>
        </div>
        <div class="marks-sub-section">
          <div class="result-section justifyCenter">
            <div class="circle right-circle justifyCenter bold-font">{{overall_analytics.overall_percentile}}</div>
            <div class="justifyCenter report-right">
              <span class="right-content">Your All India Percentile</span>
            </div>
          </div>
          <div class="result-section down-report justifyCenter">
            <div class="circle right-circle justifyCenter bold-font">{{city_percentile}}</div>
            <div class="justifyCenter report-right">
              <span class="right-content">
                Your City <br />
                Percentile
                <span class="address-line bold-font">({{city}})
                </span>
              </span>
              <span class="empty-span"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img style="width: 100%; height: 70%;margin-bottom: 150px;"
    src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/k12_book.png" />
  <div class="badge-message justifyCenter">
    Note : *City and State is displayed as entered by the student in the
    registration form of BNAT.
  </div>
</section>