<section class="page">
    <header class="page-header justifyEnd">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <section class="section">
      <div class="section-heading">
        <h3>LEARNING PATTERN ANALYSIS</h3>
      </div>
      <div class="section-content">
        <p>
          This section of the report will help you in understanding your
          potential skills and abilities. It will further help you to identify
          the skill areas which you can develop, in order to be proficient in
          your chosen career path
        </p>
      </div>
      <div class="section-circle">
        <div class="circle-1 learning-circle">
          <span class="inner-1 learning-inner">Mathematical Ability</span>
          <span class="inner-2 learning-inner">{{chemistry.percentage}}%</span>
        </div>
        <div class="circle-2 learning-circle">
          <span class="inner-1 learning-inner">Environmental Science</span>
          <span class="inner-2 learning-inner">{{mathematics.percentage}}%</span>
        </div>
        <div class="circle-3 learning-circle">
          <span class="inner-1 learning-inner">Verbal Ability</span>
          <span class="inner-2 learning-inner">{{physics.percentage}}%</span>
        </div>
        <div class="circle-4 learning-circle">
          <span class="inner-1 learning-inner">Logical Ability</span>
          <span class="inner-2 learning-inner">{{biology.percentage}}%</span>
        </div>
      </div>
      <div class="section-content">
        <p>
          1.Overall Analysis <span class="{{overall_analysis_score.value}} bold-font">({{overall_analysis_score.value}}):</span> A great overall score indicates that your learning skills are 
          in sync with the requirements of competitive exams. 
          You must keep practicing more and more to become better and reach the required 
          level of competence for competitive exams. A combination of hard work and learning 
          skills will prove instrumental in succeeding in competitive examinations.

        </p>
        <p>
          2.Mathematical Ability <span class="{{physics_score.value}} bold-font">({{physics_score.value}}):</span> A great score in mathematical ability indicates 
          that you are skilled at understanding the concepts and 
          using mathematical operations. This skill will prove 
          useful in solving mathematical problems in competitive exams and further studies. 
          Polish your skill more and more to become better and quicker at math.
        </p>
        <p>
          3.Verbal Ability <span class="{{chemistry_score.value}} bold-font">({{chemistry_score.value}}):</span> A good score in verbal ability indicates that you are fairly 
          skilled at expressing thoughts and ideas verbally. It is recommended 
          that you polish your skill further by improving your vocabulary and 
          then testing your knowledge in a limited time frame. This skill will 
          prove highly useful in succeeding in competitive exams and further studies.
        </p>
      </div>
    </section>
  </section>