<section class="page">
    <header class="page-header justifyEnd">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <section class="section">
      <div class="section-heading">
        <h3>LEARNING PATTERN ANALYSIS</h3>
      </div>
      <div class="section-content">
        <p>
          4. Logical Ability  <span class="{{mathematics_score.value}} bold-font">({{mathematics_score.value}}):</span> Logical ability is a focus area for you. This indicates that you 
          need to work on making inferences and coming to correct conclusions. 
          Then, you will be able to take action based on text, data, and symbols. 
          It is recommended that you polish your skill by solving more questions in 
          a limited time frame to achieve excellent scores. This skill will 
          prove useful in successfully answering competitive exams and further studies.

        </p>

        <p>
          5. Environmental Science. <span class="{{biology_score.value}} bold-font">({{biology_score.value}}):</span> A great score in environmental sciences indicates that you are skilled 
          at understanding the factors impacting the environment, 
          the role of humans in its degradation, and other related details. 
          Polish your skill further by reading more environment-related material 
          and interacting with things which will help you learn about the environment. 
          This skill will prove useful in succeeding in competitive exams and also in general life.
        </p>
        <p>
          6. Numerical Reasoning <span class="{{application_score.value}} bold-font">({{application_score.value}}):</span> Numerical reasoning is a focus area for you. 
          This indicates that you need to work harder on this skill. 
          It is recommended that you practice the use of mathematical operations 
          to increase your speed and efficiency. This will help you achieve an excellent score. 
          This skill will prove useful in solving numerical questions in competitive examinations.

        </p>
        <p>
          7. Analytical Reasoning <span class="{{retention_score.value}} bold-font">({{retention_score.value}}):</span> Analytical reasoning is a focus area for you. 
          This indicates that you need to work on your ability to look at information, 
          be it qualitative or quantitative in nature, and discern patterns within the information. 
          Polish your skill further by undertaking time-bound tests and reading more related 
          material to achieve an excellent score. This skill will prove useful in competitive exams, further studies, and even in daily life.
        </p>
      </div>
    </section>
  </section>