<section class="page test-summary">
    <header class="page-header justifyEnd">
      <img class="byjus-logo" style="height:100px"
        src="https://pdf-template-generation.s3.ap-south-1.amazonaws.com/assess/images/byjus_logo.png" />
    </header>
    <div class="section" style="padding-top: 5px;padding-bottom: 23px;">
      <div class="section-heading">
        <h3>Test Summary</h3>
      </div>
      <div style="margin-top: 40px; padding-bottom: 8px;">
        <div class="box-container justifyAround">
          <div class="box flexColumn justifyStart">
            <div class="box-header">Questions Attempted</div>
            <div class="box-mid"></div>
            <div class="box-footer">38 out of 60</div>
          </div>
          <div class="box flexColumn justifyStart">
            <div style="width: 50%;" class="box-header">Total Score</div>
            <div class="box-mid"></div>
            <div class="box-footer">82</div>
          </div>
          <div class="box flexColumn justifyStart">
            <div class="box-header">Percentage Score</div>
            <div class="box-mid"></div>
            <div class="box-footer">34%</div>
          </div>

        </div>
        <div class="box-container justifyAround">
          <div class="box flexColumn justifyStart">
            <div class="box-header">All India Percentile</div>
            <div class="box-mid"></div>
            <div class="box-footer">80.5</div>
          </div>
          <div class="box flexColumn justifyStart">
            <div style="width: 80%;" class="box-header">Average Time / Ques</div>
            <div class="box-mid"></div>
            <div class="box-footer">37 secs</div>
          </div>
        </div>
        <div class="student-performance">
          19.2%
          students did
          better
        </div>
        <div class="analytics-heading">
        </div>
        <div class="table-container">
          <div class="table-parent flexColumn justifyStart">
            <div class="table-row justifyCenter">
              <div class="table-section justifyCenter"></div>
              <div class="table-section table-section-font justifyCenter">Attempted</div>
              <div class="table-section table-section-font justifyCenter">Correct</div>
              <div class="table-section table-section-font justifyCenter">Incorrect</div>
              <div class="table-section table-section-font justifyCenter">Total Time Taken</div>
              <div class="table-section table-section-font justifyCenter">Average Time / Ques</div>
            </div>
            {{#each subjects}}
            <div class="table-row justifyCenter">
              <div class="table-section table-section-font justifyCenter">{{this.name}}</div>
              <div class="table-section table-section-font justifyCenter">{{this.attempted}}</div>
              <div class="table-section table-value-font justifyCenter">{{this.correct}} </div>
              <div class="table-section table-value-font justifyCenter">{{this.incorrect}}</div>
              <div class="table-section table-value-font justifyCenter">{{this.totalTime}}</div>
              <div class="table-section table-value-last justfyColumnCenter">
                <div style="font-size: 13px; color:purple; margin-bottom: 2px;">{{this.avgTime}}</div>
                <div style="font-size: 11px; color:purple; ">{{this.percentage_faster}}</div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
    </div>
  </section>