<section>
    {{#with overall}}
    <p class="title">Overall Analysis</p>
    <div class="mt40">
        <div class="spaceBetween" style="align-items: center">
            <div>
                <p>Date of Test</p>
                <p class="subtitle">{{formatDate @root.assessment_date}}</p>
            </div>
            <div>
                <p>Overall Assessment</p>
                <p class="boldText1">{{getGapText overall_percentage}}</p>
                <p>IDENTIFIED</p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="spaceBetween">
        <div class="centerAlign">
            <p>Overall Percentage</p>
            <p class="subtitle">{{overall_percentage}}%</p>
        </div>
        <div class="centerAlign">
            <p>Questions Correct</p>
            <p class="subtitle">{{questions_correct}}/{{total_questions}}</p>
        </div>
        <div class="centerAlign">
            <p>Questions attempted</p>
            <p class="subtitle">{{questions_attempted}}/{{total_questions}}</p>
        </div>
        <div class="centerAlign">
            <p>Total time taken</p>
            <p class="subtitle">{{total_time}}</p>
        </div>
    </div>
    <div class="banner">
        <img src="https://dx5zlk5th4g9t.cloudfront.net/bdt2.0-assets/horn.png" class="hornImage" />
        <p class="description">
            {{overall_message}}
        </p>
    </div>
    <div class="divider"></div>
    <p class="subtitle">Subject-wise Analysis:</p>
    <div class="spaceAround">
        {{#each subjects}}
        <div>
            <div class="card">
            <img src="{{getSubjectIcon title}}" class="cardImage" />
            <div>
                <p>{{title}}</p>
                <div class="divider" style="margin: 30px 0px;width:100%"></div>
                <p class="subtitle">{{percentage}}%</p>
            </div>
        </div>
        <div class="centerAlign">
            <p class="boldText1">{{getGapText percentage}}</p>
            <p class="description">IDENTIFIED</p>
        </div>
        </div>
        {{/each}}
    </div>
    <div class="banner">
        <img src="https://dx5zlk5th4g9t.cloudfront.net/bdt2.0-assets/horn.png" class="hornImage" />
        <div>
            <p>
                {{subject_message}}
            </p>
        </div>
    </div>
    <div class="callout">
      <p>What next?</p>
      <p class="description">
        Let’s see what critical concepts were assessed in this test, and how it
        might impact {{@root.full_name}}’s learning this year
      </p>
    </div>
    {{/with}}
</section>
