<section>
    {{#with unitWise}}
    <p class="title">Unit-wise Gap Analysis</p>
    <div class="divider"></div>
    <div>
        {{#each subjects}}
        <div class="infoContainer">
            <div class="justifyRight">
                <span class="scoreTitle">
                    Score
                </span>
            </div>
            <div class="spaceBetween">
                <div class="card-v2">
                    <img src="{{getSubjectIcon title}}" class="cardImage" />
                    <div class="justifyCenter">
                        <hr class="card-divider" />
                    </div>
                    <div>
                        <p>{{title}}</p>
                    </div>
                </div>
                <div class="unit-details-container">
                    {{#each concepts}}
                    <div class="grid-container">
                        <div class="grid-child-subject">
                            <p>{{title}}</p>
                        </div>
                        <div class="grid-child-range">
                            <p class="scoreText" style="left:{{progressTextPosition percentage_score}}%;">
                                {{percentage_score}}%</p>
                            <div class="rangeContainer"></div>
                            <div class="rangeChild {{progressBarGradient percentage_score}}"
                                style="width: {{progressBarWidth percentage_score}}%; left: {{progressBarOffset percentage_score}}%">
                            </div>
                        </div>
                        <div class="grid-child-score">
                            <p class="description">{{correct}}/{{total}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div>
            <div class="banner">
                <img src="https://dx5zlk5th4g9t.cloudfront.net/bdt2.0-assets/horn.png" class="hornImage" />
                <p class="description">
                    {{message}}
                </p>
            </div>
        </div>
        {{/each}}
        <div>
            <div class="callout">
                <p class="description">
                    {{unit_message}}
                </p>
            </div>
        </div>
        {{/with}}
</section>
